{ ## Here the list of users via for loop ## }
{% for user in list_users %}
{{ user }}
{% endfor %}

## New list with IF Condition
{% for user in list_users if not user == 'root' %}
User {{ loop.index }} : {{ user }}
{% endfor %}

## All List of managed host
{% for host in groups['all'] %}
{{ host }}
{% endfor %}

## targetNode Hosts Information

Hostname        - IP
{% for my_host in groups['target_node'] %}
{{ my_host }}   - {{ ansible_hostname['ansible_default_ipv4']['address'] }}
{% endfor %}